---
import Analytics from '@vercel/analytics/astro'
import Header from "@/components/Header/Header.astro";

import "@/styles/global.css";

const { title } = Astro.props;
const lang = Astro.currentLocale;

const meta = {
  title: "La Cocina de Vero - Comida para llevar en Torrox, M치laga",
  description: "Descubre los mejores platos caseros para llevar en Torrox, M치laga. Calidad, sabor y tradici칩n en cada bocado.",
  keywords: "comida para llevar, Torrox, M치laga, platos caseros, comida tradicional",
  author: "La Cocina de Vero"
};
---
<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.description} />
    <meta name="keywords" content={meta.keywords} />
    <meta name="author" content={meta.author} />
    <title>{meta.title}</title>
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script type="javascript">
      const $html = document.querySelector("html");
      const lang = localStorage.getItem("lang");
      if (lang) {
        $html.lang = lang;
      }
    </script>
    <Analytics />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
