---
import Analytics from '@vercel/analytics/astro'
import SpeedInsights from "@vercel/speed-insights/astro"
import Header from "@/components/sections/Header/Header.astro";
import LogoImg from "@/assets/images/logo.webp";
import { ClientRouter } from "astro:transitions";


import "@/styles/global.css";
import Footer from '@/components/sections/Footer/Footer.astro';

const { title } = Astro.props;
const lang = Astro.currentLocale;

const meta = {
  title: title ?? "La Cocina de Vero - Comida para llevar en Torrox, M치laga",
  description: "Descubre los mejores platos caseros para llevar en Torrox, M치laga. Calidad, sabor y tradici칩n en cada bocado.",
  keywords: "comida para llevar, Torrox, M치laga, platos caseros, comida tradicional",
  author: "La Cocina de Vero"
};
---
<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.description} />
    <meta name="keywords" content={meta.keywords} />
    <meta name="author" content={meta.author} />
    <script async="true" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0hp4j0dK93rmrFNjJECRJghuod_7Hafk&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    <title>{meta.title}</title>
    
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preload" href={LogoImg.src} as="image" />
    <link rel="preload" href={"/img/placeholder-image.webp"} as="image" />

    <meta property="og:title" content={meta.title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={LogoImg.src} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:site_name" content={meta.author} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={meta.author} />
    <meta name="twitter:title" content={meta.title} />
    <meta name="twitter:description" content={meta.description} />
    <meta name="twitter:image" content={LogoImg.src} />

    <script type="javascript">
      const $html = document.querySelector("html");
      const lang = localStorage.getItem("lang");
      if (lang) {
        $html.lang = lang;
      }
    </script>
    <Analytics server:defer={true}/>
    <ClientRouter />
  </head>
  <body>
    <main class="flex flex-col min-h-screen">
      <Header />
      <div class="grow">
        <slot />
      </div>
      <Footer />
    </main>
    <SpeedInsights server:defer={true}/>
  </body>
</html>
