---
import AllergensCard from '@/components/AllergensCard/AllergensCard.astro';
import Container from '@/components/Global/Container.astro';
import MenuList from '@/components/Menu/MenuList';
import Layout from '@/layouts/Layout.astro';
import { getCategories } from '@/lib/getCategories';
import { useTranslations } from '@/lib/i18n/useTranslations';
import { Image } from 'astro:assets';
import ChickenBanner from '@/assets/images/chicken-banner.webp';
import LogoImg from "@/assets/images/logo.webp";
import { getDishesByLang } from '@/lib/getDishesByLang';

const lang = Astro.currentLocale as "es" | "en" | "de";

const allDishes = await getDishesByLang();
const allCategories = await getCategories()

const t = useTranslations(lang);
---

<Layout
  title={`${t('nav.menu')} - La cocina de Vero`}
  description={`${t('nav.menu')} - Menú diario, categorías y platos caseros en Torrox, Málaga.`}
  keywords="menú, comida casera, Torrox, Málaga, categorías, platos, restaurante"
  ogTitle={`${t('nav.menu')} - La cocina de Vero`}
  ogDescription={`${t('nav.menu')} - Menú diario, categorías y platos caseros en Torrox, Málaga.`}
  ogUrl="https://lacocinadevero.es/menu"
  ogImage={LogoImg.src}
  twitterTitle={`${t('nav.menu')} - La cocina de Vero`}
  twitterDescription={`${t('nav.menu')} - Menú diario, categorías y platos caseros en Torrox, Málaga.`}
  twitterImage={LogoImg.src}
>
    <Container>
        <a href="tel:+34652640538">
          <Image src={ChickenBanner} alt={`Imagen de pollo asado, menú diario de La cocina de Vero en Torrox, Málaga`} width={1120} height={300} class="object-cover object-center mt-5" loading="lazy" />
        </a>
        <MenuList client:load lang={lang} dishes={allDishes[lang]} categories={allCategories[lang]} />
        <AllergensCard/>
    </Container>
</Layout>